name: Build

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Set up Poetry
      run: pip install poetry poethepoet poetry-dynamic-versioning[plugin]
    - name: Install
      run: poetry install --sync
    - name: Lint
      run: poe lint
    - name: Test
      run: poe test
